@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 90vw;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.textarea {
  width: 100%;
  flex: 1;
  resize: vertical;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  outline: none;
}

.textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.textarea_modal {
  background: rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 16px;
  resize: none;
  outline: none;
}

.textarea_modal::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.btn {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  background: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #e68900;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  transition: visibility 0.2s;
  visibility: hidden;
}

.modal.show {
  visibility: visible;
}

.modal-content {
  position: relative;
  background: white;
  color: black;
  padding: 20px;
  padding-top: 40px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s;
  transform: translateY(-150%);
}

.modal.show .modal-content {
  transform: translateY(0);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

.modal-close:hover {
  color: #ff0000;
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(100, 100, 100, 0.9);
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}
